
/*----------------------------------------
  ## Search Popup
----------------------------------------*/
.search-popup.active .search-form {
    visibility: visible;
    opacity: 1; 
}
.search-popup .search-form {
    min-width: 600px;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    z-index: 9999; 
    border-radius: 6px;
}
.search-popup .search-form .form-group {
    margin-bottom: 0;
}
.search-popup .search-form .form-group .form-control {
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; 
    height: 54px;
    padding: 0 100px 0 30px ;
}
.search-popup .search-form .submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 54px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    background-color: var(--main-color-one);
    color: $white;
    @include transition(all, 0.4s, ease);
    padding: 0;
    text-align: center;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
}
  
.body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(2, 48, 71,.9);
    z-index: 9999;
    content: '';
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress; 
}
.body-overlay.active {
    visibility: visible;
    opacity: .90; 
}



.login-register-popup.active {
    visibility: visible;
    opacity: 1; 
}
.login-register-popup {
    background: $white;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 62%;
    transition: 0.5s ease;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    max-height: calc(100% - 15%);
    overflow-y: auto;
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 0; 
    z-index: 9999;
    box-shadow: 0px 2px 69px #97A1B238;
    border-radius: 10px;
    .riyaqas-form-wrap {
        display: block;
        width: 100%;
        padding: 0 55px;
        .single-input-wrap label {
            line-height: unset;
        }
        .widget-title {
            font-size: 20px;
        }
        span,
        label {
            font-size: 12px;
            letter-spacing: 0.24px;
        }
        .check-box-area {
            overflow: hidden;
            input {
                margin-right: 5px;
                float: left;
            }
            label {
                margin-bottom: 0;
                margin-top: -3px;
                float: left;
            }
        }
        .btn-wrap {
            line-height: 41px;
            margin-top: 30px;
            .btn {
                height: 40px;
                line-height: 41px;
                padding: 0 30px;
                border-radius: 0;
                margin-top: 0;
                margin-right: 15px;
            }
            a.signup {
                font-size: 12px;
                margin-left: 5px;
            }
        }
    }
}
.login-register-popup-wrap {
    background: var(--main-color-two);
    .shape-thumb {
        position: absolute;
        top: -44px;
        left: -9px;
        z-index: 8;
    }
}
.login-form-wrap {
    background: $white;
    margin: 20px 50px 20px 80px;
    padding: 20px 30px;
    border-radius: 10px;
    position: relative;
    z-index: 5;
    box-shadow: -1px 12px 21px #071C5526;
    &:after {
        content: '';
        position: absolute;
        left: -27px;
        right: 0;
        top: 5%;
        bottom: 0;
        height: 90%;
        width: 100%;
        background: $white;
        border-radius: 10px;
        z-index: -1;
        opacity: 0.95;
    }
    h4 {
        font-weight: 700;
        margin-bottom: 40px;
    }
    .single-input-wrap {
        position: relative;
        input {
            color: var(--paragraph-color);
            font-weight: 200;
            padding: 0 51px 0 18px !important;
            &::placeholder {
                color: var(--paragraph-color);
            }
        }
        .single-input-title {
            color: var(--paragraph-color);
            font-weight: 400;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 6px;
            height: 79%;
            width: 45px;
            line-height: 41px;
            text-align: center;
            border-left: 1px solid #CFD3DE;
            font-weight: 200;
        }
        .btn {
            margin-top: 20px;
            height: 45px;
            line-height: 46px;
        }
    }
    .checkbox {
        display: block;
        overflow: hidden;
        font-weight: 200;
        input {
            margin-top: 9px;
            margin-right: 5px;
            float: left;
        }
    }
    .sign-in-btn {
        font-weight: 200;    
        a {
            color: var(--main-color-two); 
            font-weight: 400;
        }   
    }
    .social-wrap {
        p {
            font-size: 12px;
        }
        .social-icon {
            li {
                margin: 0 5px 0 0;
                a {
                    box-shadow: 0px 3px 6px #00000029;
                    border: 0;
                    height: 28px;
                    width: 28px;
                    font-size: 12px;
                    line-height: 29px;
                }
                .facebook {
                    background: $facebook;
                }
                .twitter {
                    background: $twitter;
                }
                .pinterest {
                    background: $pinterest;
                }
                &:hover a {
                    border: 0 !important;
                }
            }
        }
    }
}